<div id="modalAddHerr" class="modal">
    <div class="modal-content">

        <h2>Agregar Herramienta</h2>

        <form action="{{ url_for('herramientas.crear_herramienta') }}" method="POST">

            <label>Nombre:</label>
            <input type="text" name="nombre" required>

            <label>Código:</label>
            <input type="text" name="codigo" required>

            <label>Cantidad Total:</label>
            <input type="number" name="cantidad" min="1" required>

            <div class="modal-actions">
                <button type="submit" class="btn">Guardar</button>
                <button type="button" class="btn-secondary"
                        onclick="document.getElementById('modalAddHerr').style.display='none'">
                    Cancelar
                </button>
            </div>
        </form>

    </div>
</div>