{% extends "layout.html" %}

{% block contenido %}
<h1>Mecánicos</h1>

{% if current_user.es_admin() %}
<button class="btn" onclick="document.getElementById('modalAddMec').style.display='block'">
    Agregar Mecánico
</button>
{% endif %}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Posición</th>
            {% if current_user.es_admin() %}
            <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for m in mecanicos %}
        <tr>
            <td>{{ m.nombre }}</td>
            <td>{{ m.codigo }}</td>
            <td>{{ m.posicion }}</td>

            {% if current_user.es_admin() %}
            <td>
                <form action="{{ url_for('mecanicos.eliminar_mecanico', id=m.id) }}" method="POST">
                    <button class="btn-danger" onclick="return confirm('¿Eliminar?')">Eliminar</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'modals/modal_add_mecanico.html' %}

{% endblock %}